@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.headerUp {
  min-height: 60vh;
  background-color: rgb(6, 124, 189);
}

main {
  min-height: 40vh;
  background-color: #ccdbe3;
}

@layer base {
  :root {
    --color-darkcyan: 6 124 179;
    --color-oldrose: 127, 77, 105;
    --color-lightsteelblue: 204, 219, 227;
  }
}
